*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    font-family: sans-serif;
}
/* Grid Templates */
.grid-container{
    display: grid;
    grid-template: 6vh repeat(4,1fr) 6vh / 1fr;
    grid-template-areas: "grid-header"
                         "grid-conf"
                         "grid-oradores"
                         "grid-lugarFecha"
                         "grid-conviertete"
                         "grid-footer ";
    height: 100vh;
}
.grid-header{
    grid-area: grid-header;
    display: flex;
    justify-content:space-around;
    align-items: center;
    background-color: #47515A;
}
.grid-conf{
    grid-area: grid-conf;
    display: flex;
    justify-content: flex-end;
    
}
.grid-oradores{
    grid-area: grid-oradores;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
}
.grid-lugarFecha{
    grid-area: grid-lugarFecha;
    display: flex;
}
.grid-conviertete{
    grid-area: grid-conviertete;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}
.grid-footer{
    grid-area: grid-footer;
    background: linear-gradient(45deg,#243546,#276477 );
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* Header */
.grid-header img{
    height: 5rem;
}
.grid-header p{
    font-size: 1.8rem;
    color: #FFFFFF;
}
.grid-header div{
    display:flex;
    align-items: center;
}
.grid-header nav a{
    text-decoration: none;
    color: #B5B5B6;
    font-size: 1.5rem;
    margin: 0 1rem;
}
.grid-header nav a:first-child{
    color: #FFFFFF;
}

.grid-header nav a:last-child{
    color: #4D9C23;
}

/* section 1 conf*/
.grid-conf{
    padding: 20rem 0 15rem 0;
    background-color: #000000;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../imgs/ba1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 75%;
}
.grid-conf > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 50rem;
    margin-right: 10rem;
    color: #FFFFFF;
}
.grid-conf > div h1{
    font-size: 3rem;
}
.grid-conf > div p{
    text-align: right;
    font-size: 1.5rem;
    margin: 3rem 0;
    line-height: 2.5rem;
}
.grid-conf a{
    text-decoration: none;
    color: #FFFFFF;
    padding: 0.7rem 1rem;
    border-radius: 0.3rem;
    font-size: 1.5rem;
    border: #FFFFFF solid 1px;
}
.grid-conf a:last-child{
    background-color: #4D9C23;
    border: #4D9C23 solid 1px;
    margin-left: 1rem;
}

/* section 2 oradores */
.grid-oradores > p{
    font-size: 1rem;
    font-weight: bold;
}
.grid-oradores h3{
    font-size: 3rem;
    margin: 1rem 0;
}
/* card */
.card-container{
    display: flex;
    justify-content: center;
}
.card{
    display: flex;
    flex-direction: column;
    max-width: 25rem;
    max-height: 350rem;
    margin: 0 1.5rem;
    border: #e2dede solid 1px;
    border-radius: 0.5rem;
}
.card-img{
    height: 25rem;
    width: 100%;
    border-radius: 0.5rem 0.5rem 0 0;
}
/* card img */
.steve{
    background: #000000 url(../imgs/steve.jpg) center/cover;
}
.bill{
    background: #000000 url(../imgs/bill.jpg) center/cover;
}
.ada{
    background: #000000 url(../imgs/ada.jpeg) center/cover;
}
.card-description{
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
}
.card-description h3{
    margin: 1rem 0 1rem 0;
    font-size: 1.5rem;
}
.card-description p{
    line-height: 1.9rem;
    font-size: 1rem;
}
/* description tags */
.tags{
    display: flex;
    align-items: center;
}
.tags p{
    border-radius: 0.3rem;
    margin: 0 1rem 0 0;
    padding: 0.2rem 0.5rem;
    font-weight: bold;
}
.javascript{
    background-color: #F3B11A;
    color: #000000;
}
.react{
    background-color: #0FA2B3;
    color: #FFFFFF;
}
.negocios{
    background-color: #585152;
    color: #FFFFFF;
}
.startups{
    background-color: #FF071A;
    color: #FFFFFF;
}
/* section lugar y fecha */
.lugar-img{
    background: #000000 url(../imgs/honolulu.jpg) center/cover;
    height: 40rem;
    width: 49.5vw;
}
.fecha-description{
    background-color: #1F222E;
    color: #FFFFFF;
    padding: 1rem;
    width: 49.4vw;
}
.fecha-description h3{
    font-size: 2rem;
    margin: 1rem 0;
}
.fecha-description p{
    line-height: 1.9rem;
    font-size: 1.2rem;
    margin: 1.5rem 0;
}
.fecha-description a{
    text-decoration: none;
    color: #FFFFFF;
    padding: 0.7rem 1rem;
    border-radius: 0.3rem;
    font-size: 1.5rem;
    border: #FFFFFF solid 1px;
    margin: 1.5rem 0;
}
/* section conviertete */
.grid-conviertete p:first-child{
    font-size: 1.2rem;
}
.grid-conviertete h3{
    font-size: 3rem;
    margin: 1rem 0;
}
.grid-conviertete form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 2rem 2rem 2rem;
}
.grid-conviertete form input{
    margin: 1rem;
    padding: 1rem 1rem;
    border-radius: 0.3rem;
    border: #B5B5B6 solid 1px;
    font-size: 1.5rem;
    width: 45rem;
}
.grid-conviertete form input:last-child{
    display: inline;
}
.grid-conviertete form textarea{
    margin: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
    border: #B5B5B6 solid 1px;
    font-size: 1.5rem;
    width: 92.5rem;
    height: 10rem;
}
.grid-conviertete form p{
    font-size: 1.5rem;
    margin: 0.5rem 0;
    color:  #79797c;
}
.grid-conviertete form button{
    margin-top: 1rem;
    padding: 1rem 1rem;
    border-radius: 0.3rem;
    border: #72a339 solid 1px;
    font-size: 2rem;
    width: 92.5rem;
    background-color: #93ce51;
    color: #ffffff;
}
.orador-pform{
    font-size: 1.5rem;
}


/* footer */
.grid-footer a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1.1rem;
}
