/* Grid Templates */
.grid-container{
    display: grid;
    grid-template: 6vh repeat(4,1fr) 6vh / 1fr;
    grid-template-areas: "grid-header"
                         "grid-conf"
                         "grid-oradores"
                         "grid-lugarFecha"
                         "grid-conviertete"
                         "grid-footer ";
    height: 100vh;
    width: 100%;
}
.grid-header{
    grid-area: grid-header;
}
.grid-conf{
    grid-area: grid-conf;
}
.grid-oradores{
    grid-area: grid-oradores;
}
.grid-lugarFecha{
    grid-area: grid-lugarFecha;
}
.grid-conviertete{
    grid-area: grid-conviertete;
}
.grid-footer{
    grid-area: grid-footer;
}