/* Header */
.grid-header{
    display: flex;
    justify-content:space-around;
    align-items: center;
    background-color: #47515A;
    position: fixed;
    width: 100%;
    height: 6vh;
}
.grid-header img{
    height: 5rem;
}
.grid-header label{
    font-size: 1.8rem;
    color: #FFFFFF;
}
.grid-header div{
    display:flex;
    align-items: center;
}
.grid-header-ul{
    display: flex;
    list-style: none;
}
.grid-header nav ul li a{
    text-decoration: none;
    color: #B5B5B6;
    font-size: 1.5rem;
    margin: 0 1rem;
}
.grid-header nav ul li a:hover{
    color: #FFFFFF;
}
.grid-header nav ul li:last-child a{
    color: #4D9C23;
}

