/* section 1 conf*/
.grid-conf{
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    padding: 20rem 0 20rem 0;
    background-color: #000000;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../../imgs/ba1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 75%;
}
.grid-conf > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 50rem;
    margin-right: 10rem;
    color: #FFFFFF;
}
.grid-conf > div h1{
    font-size: 3rem;
}
.grid-conf > div p{
    text-align: right;
    font-size: 1.5rem;
    margin: 3rem 0;
    line-height: 2.5rem;
}
.grid-conf a{
    text-decoration: none;
    color: #FFFFFF;
    padding: 0.7rem 1rem;
    border-radius: 0.3rem;
    font-size: 1.5rem;
    border: #FFFFFF solid 1px;
}
.grid-conf a:hover{
    background-color: #FFFFFF;
    color: #000000;
}
.grid-conf a:last-child{
    background-color: #4D9C23;
    border: #4D9C23 solid 1px;
    margin-left: 1rem;
}
.grid-conf a:last-child:hover{
    background-color: #67d32c;
    color: #FFFFFF;
}
